@mixin content-order {
  display: flex;
  list-style-type: none;
}
@mixin section-title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(78, 78, 78, 1);
  padding-bottom: 24px;
}