.page-footer {
  background-color: black;
}
.page-footer--wrapper {
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
  @media (max-width: 500px) {
    padding-right: 35px;
    padding-left: 35px;
  }
  @media (max-width: 390px) {
    padding: 0 0 70px 0;
  }
}
.page-footer--title {
    @include section-title;
    color: rgba(254, 254, 254, 1);
    padding: 66px 0 22px 0;
}
.page-footer--text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(185, 185, 185, 1);
  text-align: center;
  padding-bottom: 37px;
}
.page-footer__pict {
  @include content-order;
  justify-content: space-between;
  width: 195px;
  padding: 0 0 34px 0;
}
.page-footer__contacts {
  font-size: 16px;
  font-weight: 400;
  color: rgba(185, 185, 185, 1);
  @media (max-width: 650px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.page-footer__contacts--slash {
  padding: 0 8px 0 8px;
}