.header__container {
  position: relative;
}
.header-button {
  display: none;
  @media (max-width: 768px) {
    display: block;
    background-image: url("/dist/img/header/menu-button1.png");
    background-size: 44px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 23px 0 23px 91%;
    border: none;
    width: 44px;
    height: 37px;
    padding: 0;
    cursor: pointer;
    &--active {
      background-image: url("/dist/img/header/menu-button.svg");
      width: 44px;
      height: 37px;
      border: none;
    }
  }
}
.header-nav__list {
    @include content-order;
    text-transform: uppercase;
    justify-content: center;
    padding: 0;
    width: 100%;
    @media (max-width: 768px) {
      display: none;
      &--active {
      display: flex;
      position: absolute;
      width: 182px;
      height: 208px;
      list-style-type: none;
      padding-left: 0;
      text-transform: uppercase;
      top: 37px;
      right: 28px;
      z-index: 1;
      flex-direction: column;
      justify-content: flex-start;
      background-color: rgba(245, 245, 245, 1);
      }
    }
  }
  .header-nav__item {
    padding: 45px 3vw 51px 3vw;
    @media (max-width: 768px) {
      padding: 6px 0 6px 12px;
      &:hover {
        background-color: rgba(229, 229, 229, 1);
      }
    }
  }
  .header-nav__link {
    text-decoration: none;
    color: $mainTextColor;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1px;
    &:hover {
      color: rgba(87, 164, 164, 1);
    }
  }
  .header__image {
    padding-bottom: 66px;
    margin-right: auto;
    width: 100%;
    margin-left: auto;
    @media (max-width: 768px) {
      width: 100%;
      padding-top: 0;
    }
  }